.doctor-detail-container {
    height: auto;
    margin-right: auto;
    margin-left: auto;
  
    .intro-doctor {
        display: flex;
        height: 250px;
        margin: 0 100px;
        .content-left {
            width: 30%;
            border: 1px solid blue;
            background: center center no-repeat;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: 30px 30px;
        }

        .content-right {
            width: 60%;
            border: 1px solid green;
            display: flex;
            flex-direction: column;
            margin-top: 30px;   
            height: 150px; 
            .up {
                font-size: 20px;
                font-weight: 600;
            }

            .down {}
        }
    }
    .detail-infor-doctor{
        margin-top: 30px;
        //background-color: #ddd;
        border-top: 1px solid #ddd;
        padding: 50px;
        .test1{
            margin: 0 100px;
        }
    }
    .schedule-doctor{
        margin :0 150px;
        
        display: flex;
        min-height: 200px;
        
        .content-left{
            width: 50%;
            
           
        }
        .content-right{
            width: 50%;
           
        }
    }
}